{% extends 'Digital/main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
              <p>Esti sigur ca doresti sa stergi "{{stergere}}" ?</p>
              <form action="{% url 'stergerebauturi' stergere.id %}" method="POST">
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'bauturi' %}">Anuleaza</a>
                    <input class="btn btn-danger" type="submit" name="Confirm">

              </form>
         </div>
    </div>
</div>
{% endblock %}