<br>
<h1>Apasa pe categoria unde doresti sa operezi modificarile<h1>
<br>


	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">

			  	<div class="card-body">
			    	<h3 class="card-title"><a class="nav-link" href="{% url 'felul_principal' %}">Felul Principal</a></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders1">

			  	<div class="card-body">
			    	<h3 class="card-title"><a class="nav-link" href="{% url 'desert' %}">Desert</a></h3>
			  	</div>
			</div>
		</div>
	</div>

<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders2">

			  	<div class="card-body">
			    	<h3 class="card-title"><a class="nav-link" href="{% url 'bauturi' %}">Bauturi</a></h3>
			  	</div>
			</div>
		</div>
	</div>
	</div>